satellital/notebooks/.ipynb_checkpoints
satellital/data/
satellital/__pycache__/*
satellital/plots/
satellital/stats/
satellital/logs/
satellital/notebooks/logs/
satellital/notebooks/logs/
satellital/notebooks/*.png
satellital/notebooks/*.pdf
satellital/notebooks/*.svg
satellital/notebooks/*.html
satellital/notebooks/*-checkpoint.ipynb
satellital/notebooks/.ipynb_checkpoints
gleasson/data/
gleasson/results/*
gleasson/__pycache__/*
gleasson/notebooks/*.pkl