ssl_satellital/notebooks/.ipynb_checkpoints
ssl_satellital/data/
ssl_satellital/__pycache__
ssl_satellital/plots/
ssl_satellital/stats/
ssl_satellital/logs/
ssl_satellital/exp_*/results/*
ssl_satellital/exp_33/
ssl_satellital/exp_34/
ssl_satellital/exp_35/
ssl_satellital/exp_36/
ssl_satellital/exp_37/notebooks/logs/
ssl_satellital/exp_37/notebooks/logs/