ssl_satellital/notebooks/.ipynb_checkpoints
ssl_satellital/data/
ssl_satellital/__pycache__
ssl_satellital/plots/
ssl_satellital/stats/
ssl_satellital/logs/
ssl_satellital/exp_*/results/*
ssl_satellital/exp_33/
ssl_satellital/exp_34/
ssl_satellital/exp_35/
ssl_satellital/exp_36/
ssl_satellital/exp_37/notebooks/logs/
ssl_satellital/exp_37/notebooks/logs/
ssl_satellital/exp_37/notebooks/*.png
ssl_satellital/exp_37/notebooks/*.pdf
ssl_satellital/exp_37/notebooks/*.svg
ssl_satellital/exp_37/notebooks/*.html
ssl_satellital/exp_37/notebooks/*-checkpoint.ipynb
ssl_satellital/exp_37/notebooks/.ipynb_checkpoints
ssl_gleasson/data/
ssl_gleasson/exp_37/results/exp_78/*
ssl_gleasson/exp_37/results/exp_79/*
ssl_gleasson/exp_37/results/*
ssl_gleasson/exp_37/__pycache__/*
ssl_gleasson/exp_37/results/*
ssl_gleasson/exp_37/notebooks/*.pkl